@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar {
    box-shadow: 10px 0px 20px 10px rgb(212, 209, 209);
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-brand h1 {
    font-size: 2rem;
    font-weight: bolder;

}

.navbar-brand span {
    color: rgb(6, 182, 115);
}

.navbar-start {
    margin: auto;
}

/* iklan */

.container {
    /* background-color: rgb(89, 248, 195); */
    margin: 0px 50px 0px 50px;
    height: 100vh;
}

.iklan-card {
    margin: 50px 0px 10px;
    border: solid 1px black;
    background-image: url(assets/burger1.jpg);
    height: 30vh;
    background-size: 100%;
}

.iklan-card span {
    color: red;
}

.iklan-card h1 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    color: aliceblue;
}

.judul{
    border-bottom: solid 4px black;
    width: 100px;
    margin-left: 10px;
}

.judul h2 {
    /* margin-top: 40px; */
    font-weight: bolder;
    font-size: 2rem;
}

.columns{
    margin-top: 10px;
}

.card{
    width: 20rem;
    gap:3px;
    transition: transform 0.3s ease;
}

.content h4{
    font-weight: bolder;
    font-size: 1.5rem;
}

.card:hover {
    transform: scale(1.05);
  }

.beli-button {
    transition: transform 0.2s ease-in-out;
    width: 110px;
    margin-left: 20px;
  }
  
  .beli-button:hover {
    transform: scale(1.1);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }